### Домашнее задание

## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ratings.csv',sep = ',')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [15]:
data = data[data.rating == 5.0]

In [16]:
data['movieId'].value_counts().head(10)

318     170
296     138
260     122
527     109
858     107
356     102
608     100
593     100
2571     95
1196     94
Name: movieId, dtype: int64

In [17]:
max_rating = data['movieId'].value_counts().head(1).reset_index()

In [18]:
print(max_rating)

   index  movieId
0    318      170

In [19]:
id_film = max_rating['index'][0]

In [20]:
film = pd.read_csv('movies.csv',sep = ',')
film.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [21]:
film = film[film.movieId == id_film]
print(film)

     movieId                             title       genres
284      318  Shawshank Redemption, The (1994)  Crime|Drama

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [63]:
power = pd.read_csv('power.csv', sep = ',') #Latvia Estonia Lithuania
power.head()
power = power[
    ((power.country == 'Estonia') | (power.country == 'Latvia') | (power.country == 'Lithuania')) 
      & ((power.category == 12) | (power.category == 4) | (power.category == 21))
      & ( (power.year <= 2010) & (power.year >= 2005))
      & ((power.quantity > 0))
     ]
power['quantity'].sum()

240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [4]:
url = 'http://www.cbr.ru/currency_base/monthly/'

valut = pd.read_html(url)[0]
valut

    Цифр. код Букв. код  Единиц                  Валюта    Курс
0         944       AZN       1   Азербайджанский манат  371720
1           8       ALL     100         Албанских леков  313089
2          12       DZD     100       Алжирских динаров  413238
3         973       AOA     100        Ангольских кванз  336419
4          32       ARS      10       Аргентинских песо  787783
..        ...       ...     ...                     ...     ...
95        152       CLP    1000          Чилийских песо  589379
96        144       LKR     100    Шри-Ланкийских рупий  260953
97        233       EEK      10          Эстонских крон  274374
98        230       ETB      10         Эфиопских быров  235336
99        710       ZAR      10  Южноафриканских рэндов  397845

[100 rows x 5 columns]